<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <title>Welcome to Microblog</title>
      {% endif %}
    </head>
    <body>
        <div>Microblog:
            <a href="/index">Home</a>
            <a href="/login">LogIn</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %} <!--  The get_flashed_messages() function comes from Flask and returns a list of all the messages that have been registered with flash() -->
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>