{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.post.label }}<br>
                    <br>
                {{ form.post(col=64, row=20) }}<br>
                {% for error in form.post.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{form.submit()}}</p>
        </form>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
{% if prev %}
<a href="{{prev}}">Prev Page</a>
{% endif %}
{% if next %}
<a href="{{next}}">Next Page</a>
{% endif %}
{% endblock %}